<!DOCTYPE html>
<html lang="pt">
<head>  
    <%- include ('../partials/head'); %>

    <title>Atualizar carro</title>
</head>
<body>
    <%- include ('../partials/header');%>

    <form class="marginMenu" action="/atualizarCarro" method="post">
        <fieldset>
            <legend>Buscar veículo pela placa</legend>
            <label for="txt_placa">
                <p>
                    Placa:
                    <input type="text" name="txt_delPlaca" id="txt_delPlaca">
                </p>
            </label><br>
        </fieldset>
        <fieldset>
            <legend>Dados do carro para atualizar</legend>
            <label for="txt_placa">
                <p>
                    Placa:
                    <input type="text" name="txt_placa" id="txt_placa">
                </p>
            </label><br>
            <label for="txt_modelo">
                <p>
                    Modelo:
                    <input type="text" name="txt_modelo" id="txt_modelo">
                </p>
            </label><br>
            <label for="txt_cor">
                <p> 
                    Cor: 
                    <input type="text" name="txt_cor" id="txt_cor">                
                </p>
            </label><br>
            <label for="txt_comb">
                <p>
                    Combustível: 
                    <input type="text" name="txt_comb" id="txt_comb">
                </p>
            </label><br>
            <input type="submit" name="sub" id="sub">
        </fieldset>
    </form>
    
    <div class="btn-group">
        <a href="/carro" class="btn btn-info btn-md">Adicionar carro</a>
        <a href="/carros" class="btn btn-info btn-md">Exibir carros</a>
        <a href="/deleteCar" class="btn btn-info btn-md">Deletar carro</a>
        <a href="/" class="btn btn-info btn-md">Home</a>
    </div>

    <%- include ('../partials/footer'); %>
</body>
</html>