<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Delete Car</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
            div {
                margin-left: 36.85%;
                margin-top: 30px;
                width: 360px;           
            }
    </style>
</head>
<body>
    <form action="/deleteCar" method="post">
        <fieldset>
            <legend>Dados do carro para deletar:</legend>
            <label for="txt_modelo">
                <p>
                    Modelo:
                    <input type="text" name="txt_modelo" id="txt_modelo">
                </p>
            </label>
            <label for="txt_cor">
                <p> 
                    Cor: 
                    <input type="text" name="txt_cor" id="txt_cor">                
                </p>
            </label>
            <label for="txt_comb">
                <p>
                    Combustível: 
                    <input type="text" name="txt_comb" id="txt_comb">
                </p>
            </label>
            <input type="submit" name="sub" id="sub">
        </fieldset>
    </form>

    <div class="btn-group">
        <a href="/" class="btn btn-info btn-md">Home</a>
        <a href="/carro" class="btn btn-info btn-md">Adicionar carro</a>
        <a href="/carros" class="btn btn-info btn-md">Exibir carro</a>
    </div>
</body>
</html>