<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Delete Car</title>
</head>
<body>
    <form action="/deleteCar" method="post">
        <fieldset>
            <legend>Dados do carro para deletar:</legend>
            <label for="txt_modelo">
                <p>
                    Modelo:
                    <input type="text" name="txt_modelo" id="txt_modelo">
                </p>
            </label>
            <label for="txt_cor">
                <p> 
                    Cor: 
                    <input type="text" name="txt_cor" id="txt_cor">                
                </p>
            </label>
            <label for="txt_comb">
                <p>
                    Combustível: 
                    <input type="text" name="txt_comb" id="txt_comb">
                </p>
            </label>
            <input type="submit" name="sub" id="sub">
        </fieldset>
    </form>

    <div style="vertical-align: center; text-align: center; margin-top: 30px;"">
        <a href="/"><button>Home</button></a>
        <a href="/carro"><button>Adicionar carro</button></a>
        <a href="/carros"><button>Exibir carro</button></a>
    </div>
</body>
</html>