<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include ('../partials/head'); %>
    <title>Home</title>
</head>
<body>
    <%- include ('../partials/header');%>
    <h1 style="vertical-align: center; text-align: center;">Hello my friends!!!</h1>

    <div class="btn-group">
        <a href="/carro" class="btn btn-info btn-md">Adicionar carro</a>
        <a href="/carros" class="btn btn-info btn-md">Exibir carros</a>
        <a href="/deleteCar" class="btn btn-info btn-md">Deletar carro</a>
         <a href="/atualizarCarro" class="btn btn-info btn-md">Atualizar carro</a>
    </div>

    <!--FOOTER-->
    <%- include ('../partials/footer'); %>

</body>
</html>