<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

   <!-- <link rel="stylesheet" href="css/style.css">-->
</head>
<body>
    <h1 style="vertical-align: center; text-align: center;">Hello my friends!!!</h1>
    <div style="vertical-align: center; text-align: center; margin-top: 30px;">
        <a href="/carro"><button>Adicionar carro</button></a>
        <a href="/carros"><button>Exibir carros</button></a>
        <a href="/deleteCar"><button>Deletar carro</button></a>
    </div>

</body>
</html>