<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add carro</title>
</head>
<body>
    <form action="http://localhost:3000/carro" method="post">
        <label for="txt_cor">
            <p> 
                Cor do carro: 
                <input type="text" name="txt_cor" id="txt_cor">                
            </p>
        </label>
        <label for="">
            <p>
                Combustível: 
                <input type="text" name="txt_comb" id="txt_comb">
            </p>
        </label>
        <input type="submit" name="sub_cor" id="sub_cor">

    </form>
</body>
</html>