<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Show Records</title>
</head>
<body>
    <h1 style="vertical-align: center; text-align: center;">Confira o log do servidor</h1>

    <div style="vertical-align: center; text-align: center; margin-top: 30px;"">
        <a href="/"><button>Home</button></a>
        <a href="/carro"><button>Adicionar carro</button></a>
        <a href="/deleteCar"><button>Deletar carro</button></a>
    </div>
</body>
</html>