<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
            .btn-group {
                margin-left: 36.85%;
                margin-top: 30px;
                width: 360px;           
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                text-align: center;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>

    <title>Show Records</title>
</head>
<body>   
    <table class="table table-hover">
        <tr>
            <th>Modelo</th>
            <th>Cor</th>
            <th style="padding-left: 0px;">Combustível</th>
        </tr>
        <% carros.map(todo => { %>
        <tr>
            <td><%=todo.modelo %></th>
            <td><%=todo.cor %><th>
            <td><%=todo.combustivel%><th>           
        </tr>
        <%});%>
    </table>

    <div class="btn-group">
        <a href="/" class="btn btn-info btn-md">Home</a>
        <a href="/carro" class="btn btn-info btn-md">Adicionar carro</a>
        <a href="/deleteCar" class="btn btn-info btn-md">Deletar carro</a>
    </div>
</body>
</html>